@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');


@import url(bootstrap.min.css);

/*==============================================
   Base Css
===============================================*/
*{
	margin:0px;
	padding:0px;
	border: none;
	outline: none;
	font-size: 100%;
}
html,
body { 
    height: 100%;
}
body {
    color: #828282;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
button:focus{
    outline: none;
}
button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #3a3a3a;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h3 {
    color: #27282c;
    font-size: 20px; 
    line-height: 26px;
}
h4 {

}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    border: none;
}



@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.fix{
    position: relative;
    display: block;
    overflow: hidden;
}

img {
	max-width: 100%;
    height: auto;
}
i {
	font-style: normal;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol,
li{
    margin: 0;
    padding: 0;    
}
.clr1{
    color: #f36727;
}
.bgclr1{
    background: #f36727;    
}



.secpd1{
    padding: 100px 0;
}
.secpd2{
    padding: 100px 0 60px;
}
.secpd3{
    padding: 100px 0 70px;
}



.btn-one {
    position: relative;
    display: inline-block;
    background: #e9212e;
    color: #ffffff;
    font-size: 15px;
    line-height: 60px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
    padding: 0 30px 0;
    transition: all 500ms ease;
}
.btn-one img {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    width: auto;
}
.btn-one span:before {
    font-size: 26px;
    line-height: 14px;
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: 4px;
}
.btn-one:hover{
    color: #ffffff;
    background: #27282c;
}


.btn-two{
    color: #27282c;
    font-size: 15px;
    line-height: 20px;;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
    transition: all 500ms ease;
}
.btn-two span:before {
    position: relative;
    top: 5px;
    font-size: 26px;
    line-height: 14px;
    display: inline-block;
    padding-left: 10px;
}
.btn-two:hover{
    color: #e9212e;
}



.btn-three {
    position: relative;
    display: inline-block;
    background: #ffffff;
    color: #203260;
    font-size: 14px;
    line-height: 62px;
    font-weight: 700;
    height: 60px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 0 30px 0;
    border-radius: 5px;
    transition: all 500ms ease;
}
.btn-three span:before {
    position: relative;
    display: inline-block;
    top: 4px;
    padding-left: 9px;
    font-size: 20px;
    font-weight: 400;
}
.btn-three:hover{
    color: #3aa40c;
}



.sec-title {
    position: relative;
    display: block;
    margin-top: -5px;
    padding-bottom: 50px;
}
.sec-title.max-width{
    max-width: 650px;
    margin: -5px auto 0;
}
.sec-title.with-text{
    padding-bottom: 52px;    
}


.sec-title p{
    color: #e9212e;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 7px;
    font-family: 'Poppins', sans-serif;
}
.sec-title .title {
    position: relative;
    display: block;
    color: #27282c;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.sec-title .title.clr-white{
    color: #ffffff;    
}
.sec-title .title span{
    font-weight: 400;
}
.sec-title .bottom-text{
    color: #7c7e84;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    text-transform: none;
    margin: 13px 0 0;
    font-family: 'Rubik', sans-serif;
}














.parallax-bg-one {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.parallax-bg-one::before {
    background: rgba(18, 32, 0, 0.90) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
} 
.parallax-bg-two {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.parallax-bg-two::before {
    background: rgba(9, 23, 33, 0.90) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
} 

.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-box-two {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.flex-box-three {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.flex-box-four {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.flex-box-five {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.owl-nav-style-one{}
.owl-nav-style-one .owl-controls { }
.owl-nav-style-one.owl-theme .owl-nav [class*="owl-"] {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    color: #909090;
    font-size: 24px;
    font-weight: 700;
    height: 50px;
    line-height: 46px;
    margin: 0 0 0 0px;
    padding: 0;
    width: 50px;
    border: 1px solid #f3f3f3;    
    transition: all 700ms ease 0s;
}
.owl-nav-style-one.owl-theme .owl-nav .owl-next {
    margin-left: 10px;
}
.owl-nav-style-one.owl-theme .owl-nav [class*="owl-"]:hover{
    border-color: #172272;
    color: #172272;
}

.owl-nav-style-two{}
.owl-nav-style-two .owl-controls { }
.owl-nav-style-two.owl-theme .owl-nav [class*="owl-"] {
    background: #fff none repeat scroll 0 0;
    border-radius: 0%;
    color: #3740b0;
    font-size: 24px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 0 0 0 0px;
    padding: 0;
    width: 50px;
    transition: all 700ms ease 0s;
}
.owl-nav-style-two.owl-theme .owl-nav .owl-next {
    margin-left: 0px;
}
.owl-nav-style-two.owl-theme .owl-nav [class*="owl-"]:hover{
    color: #ffffff;
    background: #3740b0;
}


.accordion-box {
    position: relative;
    display: block;
    overflow: hidden;
}
.accordion-box .accordion {
    position: relative;
    display: block;
    margin-bottom: 20px;
}
.accordion-box .accordion .accord-btn {
    position: relative;
    display: block;
    cursor: pointer;
    background: #ffffff;
    padding-left: 40px;
    padding-right: 70px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-box-shadow: 0px 3px 5px 2px #ededed; 
    box-shadow: 0px 3px 5px 2px #ededed;
    transition: all 500ms ease;
}
.accordion-box .accordion .accord-btn h4 {
    color: #27282c;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    transition: all 500ms ease;
}
.accordion-box .accordion .accord-btn::after {
    font-family: "Flaticon";
    position: absolute;
    top: 22px;
    right: 40px;
    color: #b4b4b4;
    content: "\f10d";
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    transition: all 500ms ease 0s;
}
.accordion-box .accordion .accord-btn.active{
    background: #27282c;
    transition: all 500ms ease;
}
.accordion-box .accordion .accord-btn.active h4 {
    color: #ffffff;
}
.accordion-box .accordion .accord-btn.active:after{
    color: #ffffff;
}
.accordion-box .accordion .accord-content {
    position: relative;
    display: block;
    padding-top: 29px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 40px;
    display: none;
}
.accordion-box .accordion .accord-content.collapsed {
    display: block;
}
.accordion-box .accordion .accord-content p {
    margin: 0;
}



.boxed_wrapper {
    background: #fff none repeat scroll 0 0;
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    min-height: 400px;
    overflow: hidden;  
}

/*________________Preloader_______________ */
.preloader{ 
    position:fixed; 
    left:0px; 
    top:0px; 
    width:100%; 
    height:100%; 
    z-index:999999999999999999; 
    background-color:#ffffff; 
    background-position:center center; 
    background-repeat:no-repeat; 
    background-image:url(../images/icon/preloader.gif);
}
.preloader.style-two {
    background-image: url(../images/home-pages/preloader-2.html);
}
.preloader.style-three {
    background-image: url(../images/home-pages/preloader-3.html);
}
.preloader.style-four {
    background-image: url(../images/home-pages/preloader-4.html);
}
.preloader.style-five {
    background-image: url(../images/home-pages/preloader-5.html);
}




/* scroll to top styles */
.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 55px;
    height: 55px;
    background: #e9212e;
    border: 2px solid #e9212e;
    border-radius: 0%;
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
    font-weight: 400;
    cursor: pointer;
    display: none;
    text-align: center;
    transition: all 500ms ease 0s;
    z-index: 99999999999;
    box-shadow: 0px 5px 10px -10px rgba(27,27,27,1);
}
.scroll-to-top:hover {
    opacity: .5;
}


.scroll-to-top-style2 {
    position: fixed;
    bottom: 25px;
    right: 15px;
    background: #e9212e;
    border: 2px solid #e9212e;
    width: 55px;
    height: 55px;
    border-radius: 0%;
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
    font-weight: normal;
    cursor: pointer;
    display: none;
    text-align: center;
    transition: all 500ms ease 0s;
    z-index: 9999999999999;
    box-shadow: 0px 8px 23px -6px rgba(27,27,27,1);
}
.scroll-to-top-style2:hover {
    opacity: .5;
}



/* Form validation styles */
input:focus,
textarea:focus,
select:focus {
    border-color: #43c3ea;
    outline: none;
}

#contact-form input[type="text"].error{
    border-color: red;    
}
#contact-form input[type="email"].error{
  border-color: red;    
}
#contact-form select.error {
  border-color: red;
}
#contact-form textarea.error{
  border-color: red;    
}


/* Post pagination styles */
.post-pagination{
    position: relative;
    display: block;
}
.post-pagination.martop20{
    margin-top: 20px;
}
.post-pagination li {
    display: inline-block;
    margin: 0 3px;
}
.post-pagination li a {
    position: relative;
    display: block;
    background: #ffffff;
    border-radius: 0px;
    border: 1px solid #ededed;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 50px;
    padding: 11px 0;
    transition: all 500ms ease 0s;
    font-family: 'Poppins', sans-serif;
}
.post-pagination li a i {
    position: relative;
    font-size: 20px;
}
.post-pagination li.active a, 
.post-pagination li:hover a {
    color: #fff;
    background: #e9212e;
    border: 1px solid #e9212e;
}




/* Post pagination styles 2 */
.post-pagination2{
    display: block;
    margin-top: 20px;
}
.post-pagination2 li {
    display: inline-block;
    margin: 0 3px;
}
.post-pagination2 li a {
    position: relative;
    display: block;
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    transition: all 500ms ease 0s;
    font-family: 'Poppins', sans-serif;
    border-radius: 50%;
}
.post-pagination2 li.active a, 
.post-pagination2 li:hover a {
    background: #f36727;
    color: #ffffff;
}
.post-pagination2 li a.left {
    width: auto;
    height: auto;
    display: block;
    color: #868298;
    padding-right: 10px;
    transition: all 500ms ease;
}
.post-pagination2 li:hover a.left{
    background: none;
}
.post-pagination2 li a.left i {
    position: relative;
    top: 1px;
    display: inline-block;
    padding-right: 8px;
    font-size: 21px;
}
.post-pagination2 li a.left:hover{
    color: #f36727;
}

.post-pagination2 li a.right {
    width: auto;
    height: auto;
    display: block;
    color: #868298;
    padding-left: 10px;
    transition: all 500ms ease;
}
.post-pagination2 li a.right:hover{
    color: #f36727;    
}
.post-pagination2 li:hover a.right{
    background: none;
}
.post-pagination2 li a.right i {
    position: relative;
    top: 1px;
    display: inline-block;
    padding-left: 8px;
    font-size: 21px;
}






/* Overlay styles */
.overlay-style-one{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 33, 48, 0.85);
    transition: all 700ms ease 100ms;
    opacity: 0;
    z-index: 2;
}
.overlay-style-one .box{
    display: table;
    height: 100%;
    width: 100%;    
}
.overlay-style-one .box .content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;    
}

.overlay-style-two{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    opacity: 0;
    transition: all 900ms ease;    
}
.overlay-style-two:before{
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
	display: block;
	opacity: 0;
	text-align: center;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: top;
    transition: all 0.5s;
	background-color: rgba(0, 0, 0, 0.80);
}
.overlay-style-two:after{
	position: absolute;
	content: '';
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50%;
	display: block;
	opacity: 0;
	text-align: center;
    transform: perspective(400px) rotateX(90deg);
    transform-origin: bottom;
    transition: all 0.5s;
	background-color: rgba(0, 0, 0, 0.80);
}



.review-box {
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 16px;
}
.review-box ul {
    display: block;
    overflow: hidden;
}
.review-box ul li {
    display: inline-block;
    float: left;
    margin-right: 4px;
}
.review-box ul li:last-child{
    margin-right: 0px;    
}
.review-box ul li i {
    font-size: 16px;
    color: #e9212e;
}

.sociallinks-style-one{
}
.sociallinks-style-one li{
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.sociallinks-style-one li:last-child{
    margin-right: 0px;
}
.sociallinks-style-one li a i{
    color: #9491a2;
    font-size: 15px;
    font-weight: 400;
    transition: all 500ms ease;
}
.sociallinks-style-one li a:hover i{
    color: #39345a;
}
.sociallinks-style-two{
    overflow: hidden;
}
.sociallinks-style-two li {
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.sociallinks-style-two li:last-child{
    margin-right: 0px;    
}
.sociallinks-style-two li a i {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: #203260;
    border: 1px solid #31426c;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    transition: all 500ms ease 0s;
}
.sociallinks-style-two li a:hover i{
    color: #3398fd;
    transform: rotate(360deg);
}


/*** 
=============================================
    Latest blog Area style
=============================================
***/
.latest-blog-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding-top: 110px;
    padding-bottom: 50px;
}
.single-blog-post {
    position: relative;
    display: block;
    margin-bottom: 52px;
}
.single-blog-post .img-holder {
    position: relative;
    display: block;
    overflow: hidden;
}
.single-blog-post:hover .overlay-style-two{
	opacity: 1;
}
.single-blog-post:hover .img-holder .overlay-style-two:before{
	opacity: 1;
    transform: perspective(400px) rotateX(0deg);
    transition: all 700ms ease 100ms;	
}
.single-blog-post:hover .img-holder .overlay-style-two:after{
	opacity: 1;
    transform: perspective(400px) rotateX(0deg);
    transition: all 700ms ease 300ms;	
}
.single-blog-post .img-holder img {
    width: 100%;
    transform: scale(1.01);
    transition: all 700ms ease;
}
.single-blog-post:hover .img-holder img {
    transform:scale(1.2) rotate(2deg);	
}

.single-blog-post .img-holder .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translate3d(0px, -100%, 0px);
    transition: all 700ms ease 300ms;
}
.single-blog-post:hover .img-holder .overlay{
    transition: all 700ms ease 500ms;
    transform: translate3d(0px, 0px, 0px);      
}
.single-blog-post .img-holder .overlay .box{
    display: table;
    width: 100%;
    height: 100%;
}
.single-blog-post .img-holder .overlay .box .link-icon{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.single-blog-post .img-holder .overlay .box .link-icon a span:before{
    display: inline-block;
    color: #ffffff;
    font-size: 35px;
    line-height: 35px;
    transition: all 500ms ease;
}
.single-blog-post .img-holder .overlay .box .link-icon a:hover span:before{
    color: #e9212e;    
}

.single-blog-post .text-holder {
    position: relative;
    display: block;
    padding-top: 20px;
}
.single-blog-post .text-holder .post-date {
    position: relative;
    display: inline-block;
    height: 45px;
    border-bottom: 3px solid #dadada;
    transition: all 700ms ease 500ms;
}
.single-blog-post .text-holder .post-date h3 {
    position: relative;
    display: block;
    color: #e9212e;
    font-size: 36px;
    line-height: 38px;
    font-weight: 600;
    text-transform: uppercase;
}
.single-blog-post .text-holder .post-date h3 span{
    color: #27282c;
    font-size: 14px;
}
.single-blog-post .meta-box {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 30px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.single-blog-post .meta-box .meta-info {
    position: relative;
    display: block;
    overflow: hidden;
}
.single-blog-post .meta-box .meta-info li {
    position: relative;
    display: inline-block;
    float: left;
    line-height: 20px;
    padding-right: 16px;
    margin-right: 14px;
    font-weight: 500;
}
.single-blog-post .meta-box .meta-info li:before{
    position: absolute;
    top: 3px;
    right: 0px;
    width: 1px;
    height: 12px;
    background: #d3d9e0;
    content: "";
}
.single-blog-post .meta-box .meta-info li:last-child{
    padding-right: 0;
    margin-right: 0;
}
.single-blog-post .meta-box .meta-info li:last-child:before{
    display: none;
}
.single-blog-post .meta-box .meta-info li a{
    color: #e9212e;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 500ms ease;
}
.single-blog-post .meta-box .meta-info li a:hover{
    color: #828282;
}
.single-blog-post .text-holder .blog-title {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
.single-blog-post .text-holder .blog-title a{
    color: #27282c;
    transition: all 500ms ease;
}
.single-blog-post .text-holder .blog-title a:hover{
    color: #e9212e;
}

.single-blog-post .text-holder .text{
    display: block;
    margin-top: 12px;
}
.single-blog-post .text-holder .text p{
    margin: 0 0 26px;    
}
