/* CSS for the popup gallery */
.gallery {
  text-align: left;
    padding: 12px 28px 20px;
    margin: 25px;
  }
  
  .image-container {
    display: flex;
    width:auto;
    height:auto;
    justify-content: center;
    align-items: center;
    float: center;
      margin-left: auto;
      margin-right: auto;
  }

  .image-container img {
    width: 300px;
    height: 300px;
    margin: 10px;
  }
  .description {
    color: #f9f4f4;
  }
.image-container img {
transition: transform 0.3s;
}

.image-container img:hover {
transform: scale(1.2);
}
.filterable_container.main-gallery .image-container{
margin: 0;
}

.image-contain {
  display: flex;
  width:auto;
  height:auto;
  margin: 20px;
  justify-content: center;
  align-items: center;
  float: center;
    margin-left: auto;
    margin-right: auto;
}

.image-contain img {
  width: 700px;
  height: 700px;
  margin: 10px;
}
.description {
  color: #f9f4f4;
}
.image-contain img {
transition: transform 0.3s;
margin: 10px;
}

.image-contain img:hover {
transform: scale(1.2);
}
.filterable_container.main-gallery .image-contain{
margin: 0;
}